body {
    background-color: rgba(40, 161, 155, 0.671);
}
.box {
    background: rgb(138, 3, 3);
    border: dashed rgba(157, 179, 197, 0.575);
    height: 12in;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#top h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#top h3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#bottom h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
ol{
    color: rgb(120,89,78)
}
#bottom h4{
    color: rgb(120,89,78)
}