body{
    background-color: #fcfbfb;
}

header {
    background-color:#73AB84;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 150px;
    display: block;
    display: grid;
    grid-template-columns: 150px auto;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-around;
}

#logo_link{
    justify-self: center;
    align-self: center;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box{
    grid-column: 1/4;
    grid-row:1/3;
    z-index:0;
}
#hero-box p{
    font-size: 9px;
}
 
#hero-msg{
    grid-column: 2/3;
    grid-row:1/2;
    margin-top:100px;
    z-index: 2;
}

#hero-img{
    width:100%;
    z-index: -1;
}

.home-grid{
    display: grid;
    grid-template-columns:repeat(9,1fr);
    text-align: center;
}

.home-grid h2{
    color: #152919;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

.card-img {
    border: 10px solid #263a09;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #263a09;
    width: 250px;
    height: 350px;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card{
    grid-column: 2 / 4;
    grid-row:2 / 3;
}

.camping-card{
    grid-column: 6 / 8;
    grid-row: 2 / 3;
}

.msg{
    grid-column: 2/8;
}

.msg h3{
    color: #176326;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

nav a:hover {
    color: whitesmoke;
    
}

#content{
    background-color: rgb(255, 255, 255);
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: rgb(194, 194, 194);
    margin: 50px;
    padding: 15px;
    width: 50px;
}

#hero-msg h1{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    color: #152919 ;
}

#hero-msg h4{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #73AB84;
}

footer{
    background-color: #73AB84;
    color: #466164;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: rgb(22, 44, 54)
}

footer a:hover{
    background-color: #000000;
    color: rgb(114, 210, 255)
}

.logo{
    width: 120px;
}

footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  

/* page 2 and 3 css */

.page2-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 50px;
    justify-content: space-around;
}
.page3-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 50px;
    justify-content: space-around;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px;
  }
  