body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(247, 236, 236);
}

#title{
    background-color: rgb(34, 106, 119);
    color: rgb(255, 255, 255);
}

#profile{
    height: 100px;
    width: 100px;
    border: 5px solid rgb(79, 85, 85);
    border-radius: 50%;
}
hr{
    background-color:rgb(79, 85, 85);
    height: 5px;
}

nav{
    background-color: brown;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 90%;
    margin: 8px;
    align-self: center;
}

nav a:hover{
    text-decoration: none;
    color: rgb(24, 24, 24);
    
}

nav a:hover{
    text-align: center;
    background-color: rgb(167, 70, 70);
}
